button{
    border-radius: 3px;
    margin: 10px;
    color:rgb(75, 72, 72);
    margin-right:30px;
}

button:hover{
    color:black;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

input{
    width:200px;
    border-radius: 3px;
    border-color: grey;
}

input:hover{
    border-color: black;
}