<header>
    <div class="navbar bg-success shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style = "font-size:30px; color:orange; margin: 10px;" class="fa-solid fa-basket-shopping">
                
            </i>
            <strong style = "font-size: 30px; font-style: italic; color:white; margin-right: 30px;">ShopEasy</strong>
        </div>

        <button routerLink="cart" class="btn btn-warning">
            <i style = "font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style = "font-size: 10px;" class="badge bg-danger">{{totalItems}}</div>
        </button>
    </div>
</header>