.card-top{
    position:relative;
    display:flex;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}

.item {
    text-align: center;
    margin: 0px 15 px;
}

.item button{
    border-radius: 3px;
    margin: 10px;
    border-color: orange;
    color:rgb(75, 72, 72);
}

.item button:hover{
    color:black;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}


img.categories {
    width:40px;
    height:40px;
}

.item h6{
    font-size: 14px;
    font-style:italic;
}

.card {
    padding: 20px;
    margin: 50px;
    display:inline-block;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}